@import '../general.scss';

.random_post {
    cursor: pointer;

    &-link {
        color: $black;
        text-decoration: none;

        &-header {
            margin: 0;
            padding: 16px 16px 8px;
            font-size: $font-size-large;
            border-bottom: 1px solid $default;
        }
    
        &-title {
            margin: 0;
            padding: 8px 16px;
            font-size: $font-size-initial;
        }
    
        &-description {
            width: calc(100%- 32px);
            margin: 0;
            padding: 8px 16px 16px;
            font-size: $font-size-base;
            white-space: nowrap;
            overflow: hidden; 
            text-overflow: ellipsis;
        }
    }
    
}