@import './general.scss';
@import './components/LastComment.scss';
@import './components/PostsCounter.scss';
@import './components/RandomPost.scss';
@import './pages/CurrentPost.scss';
@import './pages/Posts.scss';


.app {
    display: flex;
    flex-wrap: wrap;
    
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        width: 100%;
        background: $white;

        &-block {
            display: flex;

            &-logo {
                margin: 0;
                font-size: $font-size-large;
                font-weight: bold;
                letter-spacing: 4px;
                margin-right: 36px;
                
            }
        }

        &-link {
            cursor: pointer;
            margin: 0;
            font-size: $font-size-base;

            a {
                color: $link;
                text-decoration: none;
            }
        }

    }

    &-sidebar {
        padding: $font-size-initial;
        height: calc(100vh - 100px);
        width: calc(35% - 32px);
        background: $gray-300;
        overflow: auto;
    }

    &-content {
        height: calc(100vh - 100px);
        width: calc(65% - 32px);
        background: $gray-200;
        padding: 16px;
        overflow: auto;
    }
}