$white: #FFFFFF;
$gray-200: #EAF0F6;
$gray-300: #D7DFE6;
$default: #E9ECEF;
$link: #1A86D0;
$info: #21AE8C;
$disabled: #495057;
$black: #000000;

$font-size-large: 20px;
$font-size-initial: 16px;
$font-size-base: 13px;

body {
    margin: 0;
}

.-card {
    border: 1px solid $gray-200;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06);
    border-radius: 7px;
    background: $white;
}